In [1]:
import glob
import os
import pandas as pd

In [2]:
MSMS_files = glob.glob("../data/raw_data/MSMS/*")
MSMS_files

['../data/raw_data/MSMS/Challenge 1 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 10 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 11 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 12 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 13 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 14 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 15 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 16 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 17 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 18 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 19 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 2 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 20 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 3 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 4 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 5 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 6 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 7 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 8 MSMS.txt',
 '../data/raw_data/MSMS/Challenge 9 MSMS.txt']

In [3]:
MS_files = glob.glob("../data/raw_data/MS/*")
MS_files

['../data/raw_data/MS/Challenge 1 MS.txt',
 '../data/raw_data/MS/Challenge 10 MS.txt',
 '../data/raw_data/MS/Challenge 11 MS.txt',
 '../data/raw_data/MS/Challenge 12 MS.txt',
 '../data/raw_data/MS/Challenge 13 MS.txt',
 '../data/raw_data/MS/Challenge 14 MS.txt',
 '../data/raw_data/MS/Challenge 15 MS.txt',
 '../data/raw_data/MS/Challenge 16 MS.txt',
 '../data/raw_data/MS/Challenge 17 MS.txt',
 '../data/raw_data/MS/Challenge 18 MS.txt',
 '../data/raw_data/MS/Challenge 19 MS.txt',
 '../data/raw_data/MS/Challenge 2 M.txt',
 '../data/raw_data/MS/Challenge 2 MS.txt',
 '../data/raw_data/MS/Challenge 20 MS.txt',
 '../data/raw_data/MS/Challenge 3 MS.txt',
 '../data/raw_data/MS/Challenge 4 MS.txt',
 '../data/raw_data/MS/Challenge 5 MS.txt',
 '../data/raw_data/MS/Challenge 6 MS.txt',
 '../data/raw_data/MS/Challenge 7 MS.txt',
 '../data/raw_data/MS/Challenge 8 MS.txt',
 '../data/raw_data/MS/Challenge 9 MS.txt']

In [4]:
for msms_file in MS_files:
    output_filename = os.path.join("../data/mgf/MS/ms_{}".format(os.path.basename(msms_file)).replace(".txt", ".mgf"))
    with open(output_filename, "w") as outfile:
        outfile.write("BEGIN IONS\nPEPMASS=280.70001\nCHARGE=0+\nMSLEVEL=2\nTITLE=Scan Number: 1\nSCANS=1\n")
        for line in open(msms_file):
            outfile.write(line)
        outfile.write("\nEND IONS\n")

In [5]:
precursor_df = pd.read_csv("../data/raw_data/precursor_table.tsv", sep="\t")
precursor_df

                challenge  precursor
0    Chellenge 1 MSMS.txt   466.2090
1    Chellenge 2 MSMS.txt   464.2274
2    Chellenge 3 MSMS.txt   369.1805
3    Chellenge 4 MSMS.txt   579.1515
4    Chellenge 5 MSMS.txt   353.1852
5    Chellenge 6 MSMS.txt   393.2070
6    Chellenge 7 MSMS.txt   269.0816
7    Chellenge 8 MSMS.txt   301.0720
8    Chellenge 9 MSMS.txt   363.1820
9   Chellenge 10 MSMS.txt   283.0615
10  Chellenge 11 MSMS.txt   339.1236
11  Chellenge 12 MSMS.txt   255.0770
12  Chellenge 13 MSMS.txt   328.1920
13  Chellenge 14 MSMS.txt   343.1541
14  Chellenge 15 MSMS.txt   231.1490
15  Chellenge 16 MSMS.txt   236.1655
16  Chellenge 17 MSMS.txt   395.1501
17  Chellenge 18 MSMS.txt   266.0897
18  Chellenge 19 MSMS.txt   577.1339
19  Chellenge 20 MSMS.txt   466.2640

In [7]:
for msms_file in MSMS_files:
    output_filename = os.path.join("../data/mgf/MSMS/msms_{}".format(os.path.basename(msms_file)).replace(".txt", ".mgf"))
    precursor = precursor_df[precursor_df["challenge"] == os.path.basename(msms_file).replace("Challenge", "Chellenge")]["precursor"]
    print(float(precursor))
    with open(output_filename, "w") as outfile:
        outfile.write("BEGIN IONS\nPEPMASS={}\nCHARGE=0+\nMSLEVEL=2\nTITLE=Scan Number: 1\nSCANS=1\n".format(float(precursor)))
        for line in open(msms_file):
            outfile.write(line)
        outfile.write("\nEND IONS\n")

466.209
283.0615
339.1236
255.077
328.19199999999995
343.1541
231.149
236.1655
395.1501
266.0897
577.1339
464.2274
466.264
369.1805
579.1515
353.1852
393.207
269.0816
301.072
363.18199999999996